body {
	color: #666;
	background-color: #fff;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.7em;
}

h1, h2, h3 {
  color: #444;
  text-align: center;

}

a {
  color: orange;
}

p {
  color: #666;
  text-align: center;
}
