html {
  overflow-y: auto;
  background: #faf3e6;
  background-size: 22em;
  text-align: left;
}

body {
  font-family: font-family: 'Raleway', sans-serif;
  color: #3f3d3a;
  text-align: left;
}


h1, h2, h3, h4 {
  color: #444;
}

h5 {
  color: #efa41a
  font-weight: bolder;
}

a {
  color: #efa41a;
}

p {
  color: #666;
}

#model{
  display: -webkit-flex;
  margin-left: 1.5%;
  margin-bottom: 5%;
}

/*box model picture margin*/
#margin{
  margin-left: 2%;
}
