body{
  font-family: 'Open Sans', sans-serif;
}

.container-fluid {
  height: 100%;
}

.bar {
  padding: 24px 8% 24px 8%;
}

.navbar {
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px #e2e2e2 solid;
  background-color: #f2f2f2;
  background: -webkit-linear-gradient(#e2e2e2, #f2f2f2); /* For Safari 5.1 to 6.0 */
  background:      -o-linear-gradient(#e2e2e2, #f2f2f2); /* For Opera 11.1 to 12.0 */
  background:    -moz-linear-gradient(#e2e2e2, #f2f2f2); /* For Firefox 3.6 to 15 */
  background:         linear-gradient(#e2e2e2, #f2f2f2); /* Standard syntax */
}

.nav--primary {
  text-transform: uppercase;
  color: #323232;
}

.nav--primary a {
  color: #323232;
}

.nav--primary a:hover {
  color: #008DFF;
}

.nav--secondary {
  color: #008DFF;
}

.container {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  background:
  padding: 4em 7em;
}


.img-boats {
  border-radius: 50%;
  height: 6em;
  margin-top: 1em;
  margin-bottom: 2em;
}


h1{
  color: #b3a577;
  font-weight: 800;
}

h2{
  color: #141529
}

strong {
  font-weight: 700;
  color: #b3a577;
}

p{
  font-size: 0.5em;
}
